:root {
  --desktop: 1440px;
  --mobile: 375px;

  --primary-color: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);

  --vlight-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --grayish-blue: hsl(233, 13%, 49%);

  --font: "Montserrat", san-serif;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  outline: none;
}

html {
  font-family: var(--font);
  box-sizing: border-box;
}

body {
  position: relative;
  box-sizing: inherit;
  font-size: 66.67%;

  background-color: var(--vlight-grayish-blue);
}

body::before {
  position: fixed;
  content: "";
  background: url(images/bg-top.svg);
  top: 0;
  right: 0;
  width: 350px;
  height: 658px;
}

body::after {
  position: fixed;
  content: "";
  background: url(images/bg-bottom.svg);
  left: 0;
  bottom: 0;
  width: 356px;
  height: 300px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.heading {
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heading__title {
  font-size: 1.9rem;
  color: var(--grayish-blue);
}


/* Toggle swtich */

.heading__switch {
  padding: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
}

.heading__switch-label {
  font-size: .9rem;
  color: var(--light-grayish-blue);
  font-weight: 700;

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(236, 72%, 79%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: linear-gradient( hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
}

input:focus + .slider {
  box-shadow: 0 0 1px linear-gradient( hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}